<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biz-cen.ru | Вход</title>
    <link href="../../assets/images/favicon.ico" rel="shortcut icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <link rel="stylesheet" href="../../assets/styles/media.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../assets/js/tailwind.config.js"></script>
  </head>
  <body class="admin-body">
    <main class="p-3 md:p-6 2lg:min-h-[100vh] 2lg:flex 2lg:items-center">
      <div class="container-admin">
        <div class="flex flex-col 2lg:flex-row-reverse 2lg:justify-between gap-4 2lg:gap-6 w-full">
          <div
            class="bg-white px-4 py-4 md:px-8 xl:px-20 md:py-8 rounded-sm md:rounded-md basis-full md:basis-1/2 min-h-[400px]"
          >
            <div class="mb-11 flex-none 2lg:hidden">
              <a href="/"
                ><img
                  class="w-[89px] h-[20px] md:w-[130px] md:h-[29px]"
                  src="../../assets/images/logo.svg"
                  width="130"
                  height="29"
                  alt="Biz cen logo"
              /></a>
            </div>
            <h2 class="text-lg md:text-xl font-bold mb-6 md:mb-8 flex-none text-center">Восстановление пароля</h2>
            <div class="h-20 flex justify-center items-center">
              <svg
                width="56"
                height="56"
                viewBox="0 0 56 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="w-12 h-12 md:w-14 md:h-14"
              >
                <path
                  class="path path1"
                  opacity="0.5"
                  d="M28 42V49"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path2"
                  opacity="0.4"
                  d="M18.1017 37.8984L13.1479 42.8522"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path3"
                  opacity="0.3"
                  d="M14 28H7"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path4"
                  opacity="0.2"
                  d="M13.1523 13.1523L18.1061 18.1061"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path5"
                  d="M28 7V14"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path6"
                  opacity="0.9"
                  d="M42.8521 13.1477L37.9028 18.0969"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path7"
                  opacity="0.8"
                  d="M49 28H42"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  class="path path8"
                  opacity="0.7"
                  d="M37.8984 37.8984L42.8477 42.8477"
                  stroke="#013FEC"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="bg-white p-4 md:p-8 rounded-sm md:rounded-md basis-full md:basis-1/2 flex flex-col h-auto">
            <div class="mb-11 flex-none hidden 2lg:block">
              <a href="/"
                ><img
                  class="w-[89px] h-[20px] md:w-[130px] md:h-[29px]"
                  src="../../assets/images/logo.svg"
                  width="130"
                  height="29"
                  alt="Biz cen logo"
              /></a>
            </div>
            <h2 class="text-lg md:text-xl font-bold mb-6 md:mb-8 max-w-[600px]">
              <a href="/" class="hover:text-danger">
                Партнёрская программа Biz-cen: <br />
                зарабатывайте даже на тех клиентах, которые не снимают у вас офис
              </a>
            </h2>
            <div
              class="bg-light_blue mb-4 md:mb-6 rounded-sm max-w-[600px] lg:max-w-full overflow-hidden pt-10 xs:pt-14 sm:pt-0 flex justify-center items-end sm:justify-start sm:items-start"
            >
              <img
                src="../../assets/images/login-macbook-image.png"
                width="629"
                height="643"
                class="hidden sm:block w-full max-w-full"
                alt="Biz cen"
              />
              <img
                src="../../assets/images/login-iphone-image.png"
                width="188"
                height="385"
                class="block sm:hidden w-[70%] max-w-full"
                alt="Biz cen"
              />
            </div>
            <div class="flex gap-6">
              <p>
                <a
                  href="terms-of-cooperation.html"
                  class="text-primary text-sm sm:text-base hover:text-danger border-b border-b-primary_20 group hover:border-b-light_red leading-[22px]"
                  >Условия сотрудничества</a
                >
              </p>
              <p>
                <a
                  href="offer.html"
                  class="text-primary text-sm sm:text-base hover:text-danger border-b border-b-primary_20 group hover:border-b-light_red leading-[22px]"
                  >Оферта</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="../../assets/js/login.js"></script>
</html>
