<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biz-cen.ru | Вход</title>
    <link href="../../assets/images/favicon.ico" rel="shortcut icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="../../assets/styles/style.css" />
    <link rel="stylesheet" href="../../assets/styles/media.css" />
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/addons/cleave-phone.ru.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../../assets/js/tailwind.config.js"></script>
  </head>
  <body>
    <main class="p-3 md:p-6 2lg:min-h-[100vh] 2lg:flex 2lg:items-center">
      <div class="container-admin">
        <div class="flex flex-col 2lg:flex-row-reverse 2lg:justify-between gap-4 2lg:gap-6 w-full">
          <div
            class="bg-white px-4 py-4 md:px-8 xl:px-20 md:py-8 rounded-sm md:rounded-md basis-full md:basis-1/2 flex flex-col h-auto"
          >
            <div class="mb-11 md:mb-11 flex-none 2lg:hidden">
              <a href="/"
                ><img
                  class="w-[89px] h-[20px] md:w-[130px] md:h-[29px]"
                  src="../../assets/images/logo.svg"
                  width="130"
                  height="29"
                  alt="Biz cen logo"
              /></a>
            </div>
            <h2 class="text-lg md:text-xl font-bold mb-6 md:mb-8 flex-none text-center">Восстановление пароля</h2>
            <div
              class="flex py-2 sm:py-3 px-3 sm:px-4 gap-2 text-sm sm:text-base sm:gap-2.5 bg-light_green rounded text-green mb-4 sm:mb-6 leading-[24px] sm:leading-[30px]"
            >
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                class="flex-none w-6 h-6 sm:w-7 sm:h-7"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M12.0002 23.6668C18.4435 23.6668 23.6668 18.4435 23.6668 12.0002C23.6668 5.55684 18.4435 0.333496 12.0002 0.333496C5.55684 0.333496 0.333496 5.55684 0.333496 12.0002C0.333496 18.4435 5.55684 23.6668 12.0002 23.6668ZM17.3575 9.0374C17.6542 8.65595 17.5855 8.10621 17.204 7.80952C16.8226 7.51283 16.2728 7.58155 15.9762 7.963L11.3013 13.9735C11.1974 14.1072 11.0018 14.1245 10.876 14.0112L7.91885 11.3498C7.55965 11.0265 7.0064 11.0557 6.68312 11.4149C6.35984 11.7741 6.38896 12.3273 6.74816 12.6506L9.70529 15.312C10.5863 16.1049 11.955 15.9835 12.6827 15.0479L17.3575 9.0374Z"
                  fill="#009B22"
                />
              </svg>
              Ссылка для смены пароля отправлена вам на почту.
            </div>
            <button
              type="button"
              class="text-white py-[12px] lg:py-3.5 px-6 lg:px-8 bg-primary rounded hover:bg-danger focus:bg-danger disabled:opacity-50 lg:leading-[28px] w-full mb-6 text-sm sm:text-base"
            >
              Войти
            </button>
          </div>
          <div class="bg-white p-4 md:p-8 rounded-sm md:rounded-md basis-full md:basis-1/2 flex flex-col h-auto">
            <div class="mb-11 md:mb-11 flex-none hidden 2lg:block">
              <a href="/"
                ><img
                  class="w-[89px] h-[20px] md:w-[130px] md:h-[29px]"
                  src="../../assets/images/logo.svg"
                  width="130"
                  height="29"
                  alt="Biz cen logo"
              /></a>
            </div>
            <h2 class="text-lg md:text-xl font-bold mb-6 md:mb-8 max-w-[600px]">
              Партнёрская программа Biz-cen: <br />
              зарабатывайте даже на тех клиентах, которые не снимают у вас офис
            </h2>
            <div
              class="bg-light_blue mb-4 md:mb-6 rounded-sm max-w-[600px] overflow-hidden pt-10 xs:pt-14 sm:pt-0 flex justify-center items-end sm:justify-start sm:items-start"
            >
              <img
                src="../../assets/images/login-macbook-image.png"
                width="629"
                height="643"
                class="hidden sm:block w-full max-w-full"
                alt="Biz cen"
              />
              <img
                src="../../assets/images/login-iphone-image.png"
                width="188"
                height="385"
                class="block sm:hidden w-[70%] max-w-full"
                alt="Biz cen"
              />
            </div>
            <div class="flex gap-6">
              <p class="border-b border-b-primary_20 group hover:border-b-light_red">
                <a href="#" class="text-primary text-sm sm:text-base group-hover:text-danger">Условия сотрудничества</a>
              </p>
              <p class="border-b border-b-primary_20 group hover:border-b-light_red">
                <a href="#" class="text-primary text-sm sm:text-base group-hover:text-danger">Оферта</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script>
    const cleave = new Cleave('#phone', {
      phone: true,
      phoneRegionCode: 'RU',
    });
  </script>
  <script src="../../assets/js/login.js"></script>
</html>
